* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
}

 /* -------------------- Navbar --------------------------- */
nav {
    width: 100vw;
    height: 8vh;
    background-color: rgba(4, 4, 27, 0.932);
    /* background-color: rgba(0, 0, 0, 0.884); */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


#logo-div > h1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
}

#menu-div {
    display: flex;
    /* background-color: red; */
    padding: 10px;
    gap: 4vw;
}

#menu-div  > .Link {
    cursor: pointer;
    /* font-size: 1rem; */
    letter-spacing: 1px;
}

#menu-div  > .Link:hover {
    color: rgb(255, 94, 0);
}

#facode {
    font-size: 3rem;
    color: rgb(219, 198, 4);
}






/* ---------------------------- Home ------------------------------- */
.home {
    height: 100vh;
    width: 100vw;
    background-color: rgb(4, 4, 27);
    position: relative;
    color: #FFFFFF;
}

.header {
    /* background-color: red; */
    width: 100%;
    height:100%;
    display: flex;

}

.left-header {
    /* background-color: red; */
    height: 100%;
    width: 50%;
}

.right-header {
    /* background-color: rgba(0, 255, 242, 0.411); */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header > .image {
    border-radius: 100%;
    border-bottom: 15px dotted rgba(255, 255, 255, 0.363);
    height: 50%;
    width: 45%;
    display: flex;
    justify-content: center;
}

.image > img {
    height: 97%;
    width: 94%;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.image > img:hover {
    transform: scale(1.1);
    transition: all 0.6s linear;
}

.svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.highlighted-text {
    color: rgb(255, 102, 0);
    font-size: 1.4rem;
    font-weight: 600;
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typical-h1 {
    font-weight: 500;
    margin-top: 10px;
    font-style: italic;
    letter-spacing: 2px;
}

.tagline {
    margin-top: 2rem;
}

.btn-wrapper-header {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 1rem;
}

.btn {
    width: 8rem;
    padding: 7px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 2px;
    outline: none;
    cursor: pointer;
}

.btn:active {
    transform: scale(1.1);
}

.btn-getcv {
    background-color: rgb(255, 94, 0);
    border: none;
}

.typical-h2 {
    font-weight: 500;
}


/* ************************************* Media Queries ********************************* */
@media (max-width : 768px) {
    .header {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .right-header {
        width: 100%;
        height: 40vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .right-header > .image {
        height: 100%;
        width: 60%;
        border-bottom: 8px dotted rgba(255, 255, 255, 0.363);
    }

    .left-header {
        width: 100%;
        height: 40vh;
        justify-content: flex-start;
    }

    .home {
        height: 90vh;
        text-align: center;
    }

    nav {
        display: none;
    }
}





